@import "../../app.scss";
.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/2548691d-4d8c-4d97-b96d-449d3cca5d7e/IN-en-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    .error {
      background-color: #fce4e4;
      border: 1px solid #fcc2c3;
      float: left;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      .error-message {
        color: #cc0033;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        text-shadow: 1px 1px rgba(250, 250, 250, 0.3);
      }
    }

    h1 {
      font-size: 50px;
      @include mobile {
        font-size: 1.75rem !important;
        text-align: center;
      }
      @include tablet {
        font-size: 40px;
        text-align: center;
      }
    }

    h2 {
      margin: 20px;
      @include mobile {
        font-size: 1.125rem !important;
        text-align: center;
      }
      @include tablet {
        font-size: 22px;
        text-align: center;
      }
    }

    p {
      font-size: 20px;
      @include mobile {
        font-size: 1.17rem !important;
        text-align: center;
      }
      @include tablet {
        font-size: 16px;
        text-align: center;
      }
    }

    .input {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;
     
      @include tablet {
        flex-direction: column;
        text-align: center;
       
      }
      input {
        flex: 9;
        height: 100%;
        border: none;
        padding: 0 10px;
        
        @include tablet {
          height: 100%;
          width: 100%;
          font-size: 14px;
          padding: 10px;
        }
        @include mobile {
          height: 100%;
          width: 40vh;
          font-size: 14px;
          padding: 10px;
        }
      }

      .registerButton {
        flex: 3;
        height: 100%;
        min-width: 30%;
        background-color: red;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-left: 1px;
        @include tablet {
          height: 100%;
          font-size: 14px;
          padding: 10px;
          margin-top: 10px;
        }
        @include mobile { 
          padding: 8px;
          min-width: 15vh;
        }
      }
    }
  }
}
