.watch {
  width: 100vw;
  height: 100vh;
  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    cursor: pointer;
    z-index: 2;
    font-size: 20px;
  }
  .video{
     object-fit: cover;
  }
}

